@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: Styled mode you must add the PrimeReact Theme here. Do not include in unstyled mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css';


@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


:root {
  --app-bezier: cubic-bezier(.25,.8,.25,1);
  --app-surface-ground: #f9fafb;
  --app-header-height: 64px;
  --app-sidebar-width: 240px;

}
